@media (min-width: 800px) {

    .timeline::after {
        left: 50%;
    }

    .timeline .event {
        max-width: 50%;
        margin-left: calc(50% - 2em / 2);
    }

    .timeline .event:nth-child(odd) {
        flex-direction: row-reverse;
        margin-left: auto;
        margin-right: calc(50% - 2em / 2);
    }

}