body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
    background: #eee;
}

.site {
    max-width: 1100px;
    margin: 0 auto;
}

.site-section {
    height: 320px;
    background: #fff;
    padding: 2em;
    margin-bottom: 3em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.site-section > * {
    height: 80px;
    align-content: center;
}

.main-content {
    display: flex;
    gap: 1em;
    margin: 1em 0;
}

.main-content > * {
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 0.5em;
    align-content: center;
    padding: 2em;
}

.main-content article {
    flex: 1 1 65%;
}

.main-content aside {
    flex: 1 1 35%;
}

header, footer {
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 0.5em;
    padding: 2em;
}

.custom-order article {
    order: 5;
}