body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
    background: #eee;
    border: 2px solid red;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*align-content: center;*/
}

.card {
    max-width: 600px;
    /*margin: auto;*/
    /*margin: 0 auto;*/
    background: #fff;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

h2, p, ul {
    margin-bottom: 1em;
}

ul {
    padding-left: 3em;
}