/*the space is descendant combinator -> regardless how inside the tag is*/
/*the > is child combinator*/

div p {
    color: blue;
}

div > p {
    color: red;
}

ul > li {
    list-style-type: circle;
    color: red;
}

ol {
    color: aquamarine;
}

p + p {
    background-color: blueviolet;
}

p + span {
    font-weight: bold;
}

p ~ span {
    font-weight: bolder;
}